body {
    max-width: 1200px;
    padding-left: 360px;
    
}
.first {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}
.header {
    padding-top: 10px;
    padding-left: 40px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 270px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    padding-left: 30px;
    padding-top: 10px;
}
.links {
    font-size: 14px;
    color: #e5e7eb;
    
}
.header.links {
    display: flex;
    gap: 15px;
    padding-right: 65px;
}
.awesome {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 300px;
    
}
.second-text {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 400px;
    
}
.hero {
    margin-top: 50px;
    
       
}  
.button {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    height: 30px; 
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 5px;
}
.doggo #img {
    width: 320px;
    height: 150px;
    padding-top: 70px;
}
.img2 {
    width: 120px;
    height: 100px;
    border-radius: 5px;
}
.secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 350px;
}
.info {
    padding-top: 20px;
    display:flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-items: center;
}
.conteiner {
    padding-top: 30px;
    
    
}
.images {
    display: flex;
    gap: 100px;
    align-self: center;
    
}
.texts {
    font-size: 12px;
    padding-top: 10px;
    display: flex;
    gap : 90px;
    
}
.ind, .ind2, .ind3, .ind4 {
    width: 130px;
}
.third {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    height:250px ;
}
.quote-section {
    width: 700px;
}
.quote {
    font-size: 22px;
    font-style: italic;
}
.author {
    font-weight: bold;
    padding-left: 500px;
}
.fourth {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.conteiner2 {
    width: 1000px;
    height: 100px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #F9FAF8;
    gap: 200px;
}
.action2 {
    font-weight: bolder;
}
.action3 {
    font-size: 14px;
    padding-top: 2px;
}
button{
    background-color: #3882F6;
    border-radius: 7px;
    border-color: #F9FAF8;
    width: 100px;
    height: 30px;
}
.sign2 {
    color: #F9FAF8;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 50px;
}
.copyright {
    color: #e5e7eb;
}